.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.rapper {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%!important;
}

a.navbar-brand {
    width:  10%!important;
    margin-right:  0%!important;
}